<div class="content">
  <h1 class="header"> Attributes </h1>
  <div class="card">
    <h1> Attributes </h1>
    <div class="card-content">
      <p> Click to edit </p>
      <table>
        <tr>
          <td class="type top">PAR</td>
        </tr>
        <tr>
          <td class="type">Professional Services</td>
        </tr>
        <tr>
          <td class="type">Overhead</td>
        </tr>
        <tr>
          <td class="type">Temp Restricted Balance</td>
        </tr>
        <tr>
          <td class="type">Endowment Balance</td>
        </tr>
        <tr>
          <td class="type">Up Front</td>
        </tr>
        <tr>
          <td class="type">Earnings</td>
        </tr>
        <tr>
          <td class="type">Funds Available</td>
        </tr>
        <tr>
          <td class="type">Max Overhead</td>
        </tr>
        <tr>
          <td class="type">Inflator</td>
        </tr>
        <tr>
          <td class="type">Expenses</td>
        </tr>
        <tr>
          <td class="type">Total Expenses</td>
        </tr>
        <tr>
          <td class="type">Net</td>
        </tr>
        <tr>
          <td class="type">Temp Restricted Draw</td>
        </tr>
        <tr>
          <td class="type">Max Possible Draw</td>
        </tr>
        <tr>
          <td class="type">Admin Draw Max</td>
        </tr>
        <tr>
          <td class="type">Restricted Draw Max</td>
        </tr>
        <tr>
          <td class="type">Admin Draw</td>
        </tr>
        <tr>
          <td class="type">Restricted Draw</td>
        </tr>
        <tr>
          <td class="type" onclick="window.location.href = '/edit-attribute';">Total Draw</td>
        </tr>
        <tr>
          <td class="type">Endowment Add Back</td>
        </tr>
      </table>
    </div>
  </div>
  <br>
</div>
<div class="footer">
  <a class="card" href="/new-attribute">
    <h1 class="h1-alt"> Add New Attribute </h1>
  </a>
  <a class="card" href="/rearrange-attributes">
    <h1 class="h1-alt"> Rearrange Attributes </h1>
  </a>
</div>
