<div id="login-bg">
  <div class="wrap">
    <form>
      <div class="avatar">
        <img src="<%= asset_path("leaf.svg") %>"/>
      </div>
      <div id="loginzo">
        <input id="login-top" placeholder="Username" type="text"></input>
        <div class="bar">
          <i></i>
        </div>
        <input id="login-botom-2" placeholder="Password" type="password"></input>
        <input type="button" value="Sign In" id="loadload"></form>
      </div>
    </form>
  </div>
</div>
<script>
$(document).ready(function(){
  $("#loadload").click(function(){
    $("#loginzo").fadeOut(300);
    window.location.replace("index");
  });
});
</script>
