<div class="content">
  <h1 class="header"> Projects </h1>
  <div class="search-wrapper">
    <div class="container-1">
      <input type="search" id="search" placeholder="Search..." autocomplete="off"/>
      <span class="icon"><i class="fa fa-search"></i></span>
    </div>
  </div>
  <div class="grid">
    <a class="card" href="/project">
      <h1> Agua Fria </h1>
    </a>
    <a class="card" href="/project">
      <h1> Best Potato </h1>
    </a>
    <a class="card" href="/project">
      <h1> Worst Tomato </h1>
    </a>
    <a class="card" href="/project">
      <h1> Rangeland Trust </h1>
    </a>
    <a class="card" href="/project">
      <h1> Cat Daddy </h1>
    </a>
    <a class="card" href="/project">
      <h1> Agua Fria </h1>
    </a>
    <a class="card" href="/project">
      <h1> Best Potato </h1>
    </a>
    <a class="card" href="/project">
      <h1> Worst Tomato </h1>
    </a>
    <a class="card" href="/project">
      <h1> Rangeland Trust </h1>
    </a>
    <a class="card" href="/project">
      <h1> Cat Daddy </h1>
    </a>
    <a class="card" href="/project">
      <h1> Agua Fria </h1>
    </a>
    <a class="card" href="/project">
      <h1> Best Potato </h1>
    </a>
    <a class="card" href="/project">
      <h1> Worst Tomato </h1>
    </a>
    <a class="card" href="/project">
      <h1> Rangeland Trust </h1>
    </a>
    <a class="card" href="/project">
      <h1> Cat Daddy </h1>
    </a>
    <a class="card" href="/project">
      <h1> Worst Tomato </h1>
    </a>
    <a class="card" href="/project">
      <h1> Rangeland Trust </h1>
    </a>
    <a class="card" href="/project">
      <h1> Cat Daddy </h1>
    </a>
    <a class="card" href="/project">
      <h1> Agua Fria </h1>
    </a>
    <a class="card" href="/project">
      <h1> Best Potato </h1>
    </a>
        <a class="card" href="/project">
      <h1> Agua Fria </h1>
    </a>
    <a class="card" href="/project">
      <h1> Best Potato </h1>
    </a>
    <a class="card" href="/project">
      <h1> Worst Tomato </h1>
    </a>
    <a class="card" href="/project">
      <h1> Rangeland Trust </h1>
    </a>
    <a class="card" href="/project">
      <h1> Cat Daddy </h1>
    </a>
    <a class="card" href="/project">
      <h1> Worst Tomato </h1>
    </a>
    <a class="card" href="/project">
      <h1> Rangeland Trust </h1>
    </a>
    <a class="card" href="/project">
      <h1> Cat Daddy </h1>
    </a>
    <a class="card" href="/project">
      <h1> Agua Fria </h1>
    </a>
    <a class="card" href="/project">
      <h1> Best Potato </h1>
    </a>
  </div>
</div>
<div class="footer">
  <a class="card" href="/new-project">
    <h1 class="h1-alt"> Add New Project </h1>
  </a>
</div>
