<div class="front-loader">
  <div id="alt-leaf">
    <img src="<%= asset_path('leaf.svg') %>"/>
  </div>
  <div class="three-quarters-loader">
    Loading…
  </div>
</div>
<div class="menu">
</div>
<div class="content">
  <table>
    <tr>
      <th> Project 1 </th>
      <th>2011</th>
      <th>2012</th>
      <th>2013</th>
      <th>2014</th>
      <th>2015</th>
    </tr>
    <tr>
      <td class="type">Savings</td>
      <td>$1120</td>
      <td>$2500</td>
      <td>$3500</td>
      <td>$5200</td>
      <td>$19500</td>
    </tr>
    <tr>
      <td class="type">Deposits</td>
      <td>$120</td>
      <td>$500</td>
      <td>$200</td>
      <td>$1500</td>
      <td>$500</td>
    </tr>
    <tr>
      <td class="type">Withdrawals</td>
      <td>$1200</td>
      <td>$5000</td>
      <td>$2030</td>
      <td>$15030</td>
      <td>$5002</td>
    </tr>
    <tr>
      <td class="type">Stolen</td>
      <td>$120</td>
      <td>$500</td>
      <td>$200</td>
      <td>$1500</td>
      <td>$500</td>
    </tr>
    <tr>
      <td class="type">Pawned</td>
      <td>$1200</td>
      <td>$5000</td>
      <td>$2030</td>
      <td>$15030</td>
      <td>$5002</td>
    </tr>
  </table>
  <table>
    <tr>
      <th> Withdrawals </th>
    </tr>
    <tr>
      <td>
        <form action="action_page.php">
          First name:<br>
          <input type="text" name="firstname" value="Mickey">
          <br>
          Last name:<br>
          <input type="text" name="lastname" value="Mouse">
          <br><br>
          <input type="submit" value="Submit">
        </form>
      </td>
    </tr>
  </table>
</div>
<script>
$(document).ready(function(){
  $(".front-loader").delay(500).fadeOut(500);
});
</script>