<div class="content">
  <h1 class="header"> Information </h1>
  <div class="card">
    <h1> Master </h1>
    <div class="card-content master">
      <p> <span class="heavy">Instructions</span> </p>
      <p> You can use this by blah blah blah blah. </p>
      <p> <span class="heavy">Purpose</span> </p>
      <p class="no-margin"> This application is a tool created specifically for the management and organization of rangelands by the California Rangeland Trust. Their mission is to conserve California's working ranches that provide stewardship, open space and natural habitat for future generations. </p>
    </div>
  </div>
  <div class="card">
    <h1> Copyright </h1>
    <div class="card-content master">
      <span class="no-margin"> Powered by Cal Blueprint  
      </span>
      <a href="http://www.calblueprint.org">
        <%= image_tag "paw.png", class: "logo" %>
      </a>
    </div>
  </div>
</div>
