<div class="content">
  <h1 class="header"> Information </h1>
  <div class="card">
    <h1> <span class="heavy">Purpose </h1>
    <div class="card-content master">
      <p> This application is a tool for the California Rangeland Trust to manage and organize rangeland data. Their mission is to conserve California's operable ranches for the purpose of providing stewardship, open spaces, and natural habitats for future generations. </p>
    </div>
  </div>
  <div class="card">
    <h1> Master </h1>
    <div class="card-content master">
      <p> <span class="heavy">Instructions</span> </p>
      <p> Videos explaining how to use the application will be posted soon. </p>
    </div>
  </div>
  <div class="card">
    <h1> Copyright </h1>
    <div class="card-content master">
      <span class="no-margin"> Powered by Cal Blueprint
      </span>
      <a href="http://www.calblueprint.org">
        <%= image_tag "paw.png", class: "logo" %>
      </a>
    </div>
  </div>
</div>
