<h1 class="header"> Information </h1>
<div class="card">
  <h1> General </h1>
  <div class="card-content general">
    <p> <span class="heavy">Instructions</span> </p>
    <p> You can use this by blah blah blah blah. </p>
    <p> <span class="heavy">Purpose</span> </p>
    <p class="no-margin"> You can use this by blah blah blah blah. </p>
  </div>
</div>
<div class="card">
  <h1> Copyright </h1>
  <div class="card-content general">
    <p class="no-margin"> Copyright 2015 by Cal Blueprint </p>
  </div>
</div>
