<div class="content">
  <h1 class="header"> New Project </h1>
  <div class="card">
    <h1> Project Details </h1>
    <div class="card-content">
      <p>
        <span class="heavy"> Project </span>
        <input type="text"> </input>
      </p>
      <p> 
        <span class="heavy"> Acres </span>
        <input type="text"> </input>
     </p>
      <p> 
        <span class="heavy"> Date Closed </span>
        <input type="text"> </input>
      </p>
      <p> 
        <span class="heavy"> Cap Rate </span>
        <input type="text"> </input>
      </p>
      <p> 
        <span class="heavy"> Admin Rate </span>
        <input type="text"> </input>
      </p>
      <p> 
        <span class="heavy"> Total Upfront </span>
        <input type="text"> </input>
      </p>
      <p> 
        <span class="heavy"> Years Upfront </span>
        <input type="text"> </input>
      </p>
      <p> 
        <span class="heavy"> Earnings Begin </span>
        <input type="text"> </input>
      </p>
      <p class="no-margin"> 
        <span class="heavy"> Start Year </span>
        <input type="text"> </input>
      </p>
    </div>
  </div>
</div>
<div class="footer">
  <a class="card" href="/project">
    <h1 class="h1-alt"> Create Project </h1>
  </a>
  <a class="card" href="/index">
    <h1 class="h1-alt"> Cancel </h1>
  </a>
</div>
