<% if @projects.size == 0 %>
  <p>No projects exist.</p>
<% else %>
  <h1>Projects</h1>
  <% @projects.each do |project| %>
    <div><%= link_to project.name, project %></div>
  <% end %>
<% end %>

<%= link_to 'Create new project', new_project_path %>
