<%-# TODO: tables should be variable width depending on how many years of data we have -%>

<h1><%= @project.name %></h1>

<table>
  <tr>
    <th>Year</th>
    <% @project.years.each do |year| %>
      <th><%= year.date %></th>
    <% end %>
  </tr>
  <% @project.years.each do |year| %>
    <tr>
      <td>dummy_attr</td>
      <% @project.years.each do |year| %>
        <td>dummy_value</td>
      <% end %>
    </tr>
  <% end %>
</table>