<div class="content">
  <h1 class="header"> Data Types </h1>
  <div class="card">
    <h1> Data Types </h1>
    <div class="card-content">
      <table>
        <tr>
          <th class="attributes"> Click to edit </th>
        </tr>
        <% @data_types.each do |data_type| %>
          <tr>
            <td class="type" onclick="window.location.href = '<%= edit_data_type_path(data_type) %>';">
              <%= data_type.name %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
  <br>
</div>
<div class="footer">
  <%= link_to new_data_type_path, class: "card" do %>
    <h1 class="h1-alt"> New Data Type </h1>
  <% end %>
</div>
