<% if @data_types.size == 0 %>
  <p>No data_types exist.</p>
<% else %>
  <table>
    <tr>
      <th>Name</th>
      <th>Formula</th>
    </tr>
    <% @data_types.each do |data_type| %>
        <tr>
            <td><%= data_type.name %></td>
            <td><%= data_type.formula %></td>
            <td><%= link_to 'Edit', edit_data_type_path(data_type) %></td>
            <td><%= link_to 'Delete', data_type_path(data_type), :method => :delete %></td>
        </tr>
    <% end %>
  </table>
<% end %>
