@import "variables.css.scss";

#login-bg {
  position: absolute;
  z-index: 98;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: $content-gray;
}

.wrap {
  width: 250px;
  height: auto;
  margin: auto;
  margin-top: 10%;
}

.avatar {
  width: 100%;
  margin: auto;
  width: 98px;
  border-radius: 100px;
  height: 98px;
  padding: 6px;
  background: $green;
  margin-bottom: 15px;
}

.avatar img {
  width: 98px;
  height: 98px;
  border-radius: 100px;
  margin: auto;
  display: block;
}
.wrap input {
  border: none;
  background: $white;
  display: block;
  height: 40px;
  outline: none;
  width: calc(100% - 24px);
  margin: auto;
  padding: 6px 12px 6px 12px;
  border: 1px solid $light-gray;
}

#loginzo .icon {
  position: absolute;
  margin-left: 20px;
  margin-top: -35px;
  z-index: 1;
  color: $black;
  transition: $transition;
  -webkit-transition: $transition;
}

#login-top {
  border-bottom: none;
}

#login-bottom-2 {
  margin-top: 30px;
  border-radius: 4px;
  border: none;
  padding-left: 45px;
  padding: 7px 6px 6px 45px;
  width: 100%;
  height: 52px;
  box-sizing: border-box;
}

#login-bottom-2:hover ~ .icon {
  color: $teal;
}

#login-bottom-2:focus ~ .icon {
  color: $teal;
}

.bar {
  width: 100%;
  height: 1px;
  background: $white;
}
.bar i {
  width: 100%;
  margin: auto;
  height: 1px;
  position: relative;
  left: 1px;
  z-index: 1;
  display: block;
  background: $light-gray;
}
.wrap input[type="text"] {
  border-radius: 4px 4px 0px 0px;
}
.wrap input[type="password"] {
  border-top: none;
  border-radius: 0px 0px 4px 4px;
  position: relative;
  top: -1px;
}
.wrap button {
  width: 100%;
  border-radius: 4px;
  background: $green;
  font-weight: 600;
  text-decoration: center;
  border: none;
  color: $white;
  margin-top: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  outline: none;
  cursor: pointer;
}

.wrap input[type="submit"], .wrap input[type="button"] {
  border: none;
  display: auto;
  height: auto;
  outline: none;
  width: auto;
  margin: auto;
  padding: none;
  width: 100%;
  border-radius: 4px;
  background: $green;
  font-weight: 600;
  text-decoration: center;
  border: none;
  color: $white;
  margin-top: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  outline: none;
  cursor: pointer;
  transition: 0.2s;
  -webkit-transition: 0.2s;
}

.wrap input[type="submit"]:hover, .wrap input[type="button"]:hover {
  background: $dark-green;
}

@-moz-keyframes three-quarters-loader {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes three-quarters-loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes three-quarters-loader {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* :not(:required) hides this rule from IE9 and below */
.three-quarters-loader:not(:required) {
  -moz-animation: three-quarters-loader 1250ms infinite linear;
  -webkit-animation: three-quarters-loader 1250ms infinite linear;
  animation: three-quarters-loader 1250ms infinite linear;
  border: 6px solid $green;
  border-right-color: transparent;
  border-radius: 100px;
  display: inline-block;
  position: relative;
  overflow: hidden;
  text-indent: -9999px;
  width: 98px;
  height: 98px;
  margin: auto;
  display: block;
  margin-top: 10%;
}

.front-loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: $content-gray;
}

#alt-leaf {
  position: absolute;
  top: 0;
  margin-top: 10%;
  width: 100%;
  padding-top: 6px;
}

#alt-leaf img {
  display: block;
  width: 98px;
  height: 98px;
  margin: auto;
}
