$lighter-gray: #eeeeee;
$light-gray: #d3d3d3;
$medium-gray: #c0c0c0;
$content-gray: #ebebeb;
$darker-border: #999999;
$border: #a7a7a7;
$th-bg: #cccccc;
$gray: #323a45;
$black: #333333;
$white: #FFFFFF;
$green: #19bc9c;
$dark-green: #16967d;
$blue: #25a3c1;
$teal: #27b9d4;
$dark-teal: #028da0;
$transition: 0s;
