$lighter-gray: #eeeeee;
$light-gray: #d3d3d3;
$medium-gray: #c0c0c0;
$content-gray: #ebebeb;
$gray: #323a45;
$black: #333333;
$white: #FFFFFF;
$green: #19bc9c;
$dark-green: #16967d;
$blue: #1a2848;
$teal: #00afd1;
$dark-teal: #028da0;
$transition: 0.2s;