<div class="content">
  <% @users.each do |user| %>
    <h1 id="user-card">
      <p>Name: <%= user.name %></p>
      <p>Email: <%= user.email %></p>
      <%= link_to admin_user_path(user),
                  method: :delete,
                  data: { confirm: "Are you sure you want to remove #{user.name}'s access?" }, class: "card" do %>
        <h1 class="h1-alt">Delete User</h1>
      <% end %>
    </h1>
  <% end %>
</div>
<div class="footer">
  <%= link_to new_admin_user_path, class: "card" do %>
    <h1 class="h1-alt"> Create User </h1>
  <% end %>
</div>
